* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
body {
  background-color: grey;
}
.search-box {
  margin: 10px;
  padding: 4px;
  width: 90%;
  height: 40px;
  font-family: monospace;
}
.button {
  margin: 10px 0px 10px 0px;
  height: 40px;
  font-family: monospace;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  margin: auto;
  text-align: center;
  width: fit-content;
}
.movie-poster {
  margin: 0px;
}
.card .card-body {
  margin: 0px 0px 100px 0px;
  background-color: black;
  color: white;
  width: auto;
}
@media (max-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
}
